.gradebook {
    width: 100%;
    text-align: center;

    .gradebookTable {
        margin:auto;
        width: 75%;
        border: 1px solid black;
        border-collapse: collapse;

        thead {
            background-color: #4036ee;
            color: white;
        }

        tbody {
            tr:nth-child(odd) {
                background-color: lightgray; /* Apply styles to every odd row */
            }
        }
    }
}
