.analytics {
    width: 100%;
    text-align: center;

    .analyticsHeader {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        font-size: 2vh;
        margin-top: 1vh;
        font-weight: 800;
    }
    
    .pollContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: auto;

        .pollQuestion {
            font-size: 30px;

            a {
                text-decoration: none;
                color: black;
                transition: color 0.2s ease;
            }

            a:hover {
                color: #4036EE;
            }
        }

        .shortAnswerTable {
            border-collapse: collapse;
            width: 50%;
            text-align: left;
            border: 1px solid black;
            padding: 8px;
            
            .tableHeader{
                background-color: #4036EE;
                color: white;
            }

            .correctRow {
                background-color: #FBB91B;
            }

            .incorrectRow {
                background-color: #FE6768;
            }
        }
    }
}