.button {
    min-width: 150px;
    width: min-content;
    white-space: nowrap;
    padding: 0 20px;
    height: 45px;
    background-color: #4036EE;
    border-radius: 80px;
    border: none;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 40%;
        width: 40%;
    }
}