.editpoll {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .edit {
        width: 70%;
        display: flex;
        flex-direction: column;


    }
}