.form {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    gap: 24px;

    .tf {
        display: flex;
        height: 100px;
        gap: 20px;

        .truefalse {
            .hidden {
                display: none;
            }

            .selectable {
                cursor: pointer;
                height: min-content;
                padding: 10px 40px;
                border: 2px solid #6750A4;
                border-radius: 4px;
            }

            .selected {
                background-color: #fab81c;
            }
        }
    }
}