.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    text-align: center;
    padding: 0 20px;
    gap: 10px;

    .text {
        h1 {
            margin: 0;
            font-size: 1.8em;
        }
        p {
            margin: 0;
            font-size: 1.2em;
        }
    }
    .login {
        margin-top: 30px;
        display: flex; flex-direction: column; gap: 10px;

        .provider {
            height: 50px;
            width: 260px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #4034eb;
            padding: 10px 20px;
            img {
                height: 30px;
                width: 30px;
            }

            button {
                font-size: 1em;
                font-weight: bold;
                border: none;
                border-radius: 2px;
                background-color: #4034eb;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s;
            }
        }
    }

    .message {
        margin-top: 30px;
        font-size: 1.2em;
        color: #ff0000;
    }

    .contribute {
        flex: 1;
        align-items: end;
        display: flex;
        padding-bottom: 5em;
        gap: 4px;

        a {
            color: black;
        }
    }
}

