.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    
    ul {
        list-style-type: none;
    }

    h1, h2, p {margin: 0;}

    .acc {
        width: 70%;
        @media screen and (max-width: 1190px) {
            width: 90%;
        }
        h1 {
            font-size: 28px;
            font-weight: 600;
            color: #000;
        }
    }

    .details {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 10px;
        height: 400px;
        gap: 20px;

        @media screen and (max-width: 1190px) {
            width: 90%;
        }

        .left {
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background: #FFF;
            padding: 40px;
            width: 380px;
            height: 100%;
            gap: 10px;
        }

        @media screen and (max-width: 900px) {
            flex-direction: column;
            height: auto;
            .left {
                flex-grow: 1;
                width: 100%;
            }
        }

        .right {
            border-radius: 10px;
            background: #FFF;
            flex-grow: 1;
            height: 100%;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                border-radius: 100px;
                border: 1px solid #000;
                text-align: center;
                outline: none;
                background-color: transparent;
                display: flex;
                padding: 10px 24px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                gap: 8px;
            }

            .edit {
                margin-left: 16px;
                background: none;
                border: none;
                padding: 0;
                display: inline-flex; 
                align-items: center;
                justify-content: center;
                cursor: pointer;
        
                &:hover, &:focus, &:active {
                    background: none;
                    border: none;
                    outline: none;
                }
            }

            .save {
                margin-top: 30px;
                border-radius: 100px;
                background: #4036EE;
                color: white
            }
        }
    }
}