.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    label {
        margin-bottom: 6px;
        color: #6750A4;
        font-weight: bold;
    }
    input {
        border: 2px solid #6750A4;
        border-radius: 4px;
        height: 40px;
        width: 100%;
        background-color: transparent;
        padding: 0 10px;

        &::placeholder {
            color: #6650a4a9;
        }
    }
    span {
        margin-top: 2px;
        font-size: small;
        color: #FF0000;
        text-transform: lowercase;
    }
}