.createpoll {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .create {
        width: 70%;
        display: flex;
        flex-direction: column;

        .selector {
            width: 100%;
            height: 60px;
            display: flex;

            div {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: 500;
                color: #000;
                border-radius: 8px;
                cursor: pointer;
                font-weight: bold
            }
            .selected {
                background-color: #9596FF;
            }
        }

        .attendance {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #4036ee; // A different shade to distinguish it from other poll types
            width: auto;
            padding: 40px;
            //border-radius: 8px;
            margin-top: 0px;

            h2 {
                color: #F2E9E4; // Light color for contrast
                margin-bottom: 20px;
            }

            .submitButton {
                font-size: 18px;
                padding: 10px 20px;
                background-color: #22223B; // Dark background for the button
                color: #F2E9E4; // Light text color
                border: none;
                cursor: pointer;
                transition: background-color 0.1s ease;

                &:hover {
                    background-color: #9A8C98; // Lighten on hover for interactive feedback
                }
            }
        }
    }
}