
.navbar {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #c5cfe5;
    @media screen and (max-width: 768px) {
        padding: 0 15px;
    }

    .left {
        display: flex;
        flex-direction: row;
        height: 75px;
        align-items: inherit;
        text-align: center;
        justify-content: center;

        .logo {
            position: relative;
            @media screen and (max-width: 528px) {
                display: none;
            }
        }
        
        .path {
            height: 100%;
            font-size: 22px;
            font-weight: 600;
            margin-left: 20px;
            display: flex;
            align-items: center;
            @media screen and (max-width: 768px) {
                font-size: 14px;
            }

        .back {
            margin-right: 12px;
            cursor: pointer;
            width: 30px;
        }
    }
    }
    
    .right {
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        height: 75px;
        cursor: pointer;

        .person {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .name {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            align-items: center;
            @media screen and (max-width: 661px){
                display: none;
            }
        }
    }

    /* .navbarRightItems:hover {
        background-color: #9596FF;
    } */
}
