.home {
    width: 100%;

    main {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;

        .myClasses {
            width: 70%;
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            gap: 20px;
            border-radius: 5px;

            .link {
                text-decoration: none;
            }
            .details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                h2 {
                    font-size: 20px;
                    margin: 0;
                }

                .create {
                    color: #fff;
                    border: 2px solid #4036ee;   
                    background-color: #4036ee;
                    font-size: 20px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 140px;
                    height: 40px;
                    border-radius: 5px;
                }
                .join {
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 140px;
                    height: 40px;
                    background-color: #4036ee;
                    border-radius: 5px;


                    input {
                        width: 60%;
                        padding: 0 10px;
                    }
                    button {
                        background-color: white;
                        border: none;
                        cursor: pointer;
                        &:hover {
                            background-color: #fbb91b;
                            color: white;
                        }
                    }
                }
            }

            .classes {
                display: flex;
                flex-direction: column;
                width: 100%;
                
                .class {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 10px;
    
                    .trap {
                        width: 20%;
                        height: 24px;
                        clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 3px;
    
                        span {
                            width: 100px;
                            text-align: center;
                            border-bottom: 2px solid #000;
                        }
                    }
    
                    .content {
                        width: 100%;
                        height: 130px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 20px;
                        border-radius: 5px;
    
                        .info {
                            .className {
                                font-size: 15px;
                                font-weight: 400;
                                padding-bottom: 1%;
                            }
    
                            .classDescription {
                                font-size: 30px;
                                font-weight: 600;
                                padding-bottom: 1%;
                            }
    
                            .classDetail {
                                font-size: 15px;
                            }
                        }
    
                        .actions {
                            .join {
                                width: 180px;
                                height: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #4036ee;
                                color: white;
                                border-radius: 32px;
                                font-size: 18px;
                                font-weight: 600;
                                cursor: pointer;
                            }
                        }
                    }
    
                    .actions {
                        display: flex;
    
                    }
    
                    .yellow {
                        background-color: #FBB91B;
                    }
    
                    .pink {
                        background-color: #ffc9c9;
                    }
                }
            }
        }

        .seperator {
            width: 70%;
            height: 2px;
            background-color: #c5cfe5;
            margin: 40px 0;
        }
    }

}