.grades {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  width: 100%;
  
  .question {
    font-size: 28px;
    font-weight: 600;
    color: black;
    text-align: center;
  }

  .gradeSummary {
    position: absolute;
    top: 110px;
    right: 20px;
    padding: 10px;
    
    word-spacing: 0.5em;
  
    line-height: 1.6;
  
    span {
      margin-right: 1px; // Adjust as needed
    }
  }

  .answer {
      padding: 10px;
      margin: 5px 0;
      border: 1px solid black;
      position: relative;
    
      &.correct {
        background-color: #d4edda;
        color: #155724;
      }
    
      &.incorrect {
        background-color: #f8d7da;
        color: #721c24;
      }
    
      &.selected {
        border-style: solid;
      }
    }
    
    .answer-indicator {
      position: absolute;
      right: 10px;
      top: 10px;
    
      &.correct {
        color: green;
      }
    
      &.incorrect {
        color: red;
      }
    }
  }